<!DOCTYPE html>
<html lang="en">
<head>
<!-- Meta tags -->
<%= yield(:meta_tags) %>
<!-- Apple and icons tags -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="metsson">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<!-- Apple -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-startup-image" href="/apple-startup.png">
<!-- Touch icons -->
<link rel="apple-touch-icon" href="/touch-icon-iphone.png">
<link rel="apple-touch-icon" sizes="76x76" href="/touch-icon-ipad.png">
<link rel="apple-touch-icon" sizes="120x120" href="/touch-icon-iphone-retina.png">
<link rel="apple-touch-icon" sizes="152x152" href="/touch-icon-ipad-retina.png">
<!-- CDNs -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">  
<link href='//fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body>
<header class="container">
	<nav>
	<h1 class="logo-style big">screenslump</h1>
	<%= link_to root_path, class: 'btn btn-default btn-lg' do %>
		<i class="fa fa-random"></i> Next!
	<% end %>
	</nav>
	<%= yield %>
</header>	
<footer>
	<p>
		<strong><%= slump_stats %></strong> &ndash; Great random picks for those of us who have no clue about what to stream up next! Made with love and coffee by yet another netflixer @<a href="http://github.com/metsson/screenslump" target="_blank">metsson</a>.
		<br><strong>All copyrights for movie data</strong> belong to their respective owners.
	</p>
</footer>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
